@import "../../../index.scss";


.answers {
    h2 {
        text-align: end;
    }

    button {
        padding: 10px;
        margin-top: 25px;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        border: 0;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);

        &:hover {
            transform: scale(1.03);
            border-bottom: 3px solid $oc;
        }
    }
}

.answers.top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px dashed black;
    flex-wrap: wrap;

    h2 {
        margin: 0;
        padding: 0;
        border: 0;
    }

    button {
        color: $oc;
        margin: 0;
        padding: 0;
    }
}



@media(max-width: 780px) {

    .answers.top {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.answers.top {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px dashed black;
    flex-wrap: wrap;

    h2 {
        margin: 0;
        padding: 0;
        border: 0;
    }

    button {
        color: $oc;
        margin: 0;
        padding: 0;
    }
}


.js-container,
.dom-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;


    h2 {
        padding: 40px 20px;
        text-align: center;
        font-family: $ffm;
        font-size: 28px;
        border-bottom: 1px dashed black;

        a {
            color: $oc;
        }
    }

    .pages {
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 25px;
        overflow: auto;
        border-bottom: 1px solid black;


        &::-webkit-scrollbar {
            display: none;
        }

        a {
            white-space: nowrap;
            padding: 5px 10px;
            color: black;
            font-size: 16px;
            border-bottom: 3px solid $ghost;

            &:hover {
                border-bottom: 3px solid $oc;
            }

            &.active {
                border-bottom: 3px solid $oc;
            }
        }
    }

    .inner {
        padding: 40px 0;


        .carts {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(290px, 300px));
            gap: 25px;
            justify-content: center;
        }
    }
}


@media(max-width: 650px) {
    .varible-container {
        h2 {
            font-size: 18px;
        }

        .answers {
            h2 {
                font-size: 16px;
            }
            
            button {
                font-size: 22px;
            }
        }

        .answers.top {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

@media(max-width: 620px) {

    .js-container,
    .dom-container {
        padding: 20px 20px;


        h2 {
            padding: 20px 20px;
            font-size: 18px;
        }
    }

}